<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>word</key>
        <string>pussy (n.1)</string>
        <key>meaning</key>
        <string>&lt;p&gt;&quot;cat,&quot; 1726, diminutive of &lt;font color=&apos;#123456&apos;&gt;&lt;strong&gt;puss&lt;/strong&gt;&lt;/font&gt; (n.1), also used of a rabbit (1715). As a term of endearment for a girl or woman, from 1580s (also used of effeminate men). To &lt;i&gt;play pussy&lt;/i&gt; was World War II RAF slang for &quot;to take advantage of cloud cover, jumping from cloud to cloud to shadow a potential victim or avoid recognition.&quot;&lt;/p&gt;</string>
</dict>
</plist>
